/*
*
* Mock API
* MIT License
* By Jack Childs 2022
*
*/

/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.rounded-corners {
    border-radius: 1rem;
}

.api-endpoint-editor-input {
    max-width: 300px;
    display: inline-block;
}

.align-right {
    float:right;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
}

.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}
.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
}